GitLfsInstalled filter=lfs diff=lfs merge=lfs -text
*.dem filter=lfs diff=lfs merge=lfs -text
*.tri filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/honolulu.vtk filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/frog.zraw filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/frog.mhd filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/brain.vtk filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/PineRoot/pine_root.mhd filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/PineRoot/pine_root.* filter=lfs diff=lfs merge=lfs -text
