GitLfsInstalled filter=lfs diff=lfs merge=lfs -text
*.dem filter=lfs diff=lfs merge=lfs -text
*.tri filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/honolulu.vtk filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/brain.vtk filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/PineRoot/pine_root.mhd filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/PineRoot/pine_root.* filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/Frog/frogtissue.zraw filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/Frog/frog.mhd filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/Frog/frog.zraw filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/Frog/frogtissue.mhd filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/vw_knee.slc filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/labels.raw filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/labels.mhd filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/glTF/* filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/glTF/*/* filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/glTF/*/* filter=lfs diff=lfs merge=lfs -text
src/Testing/Data/glTF/*/*/* filter=lfs diff=lfs merge=lfs -text
