*.[oa]
*~

Original/*
[bB]uild/
*.kdev4
*.kdev4/
.project
.pydevproject
.directory

*.pyc

# For latex.
*~
*.aux
*.backup
*.bbl
*.bcf
*.bib.bak
*.bib.sav
*.blg
*.equ
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kilepr
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.prj.bak
*.prj
*.run.xml
*.snm
*.synctex.gz
*.tcp
*.tex.bak
*.toc
*.wsp
