*.[oa]
*~

Original/*
[bB]uild/
*.kdev4
*.kdev4/
.project
.pydevproject
.directory

*.pyc

# For latex.
*~
*.bbl
*.bcf
*.blg
*.equ
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.toc
*.aux
*.backup
*.tex.bak
*.prj.bak
*.prj
*.kilepr
*.wsp
*.nav
*.snm
*.tcp
*.run.xml
*.bib.bak
